[submodule "vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/benvan/oh-my-zsh.git
[submodule "z-zsh"]
	path = z-zsh
	url = https://github.com/sjl/z-zsh.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
